@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-primary: #2e3a8c;
  --color-success: #3b755f;
  --color-beige: #f2ebdb;
  --color-white: #ffffff;
  --color-dark: #212121;
}

body {
  font-family: "Cabin";
}
/* .main--container {
 display: flex;
 height: 100vh;
 width: 100vw;
 justify-content: center;
 align-items: center;
} */

h3.widgets-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 2px solid #B0B0B0;
  color: var(--color-dark);
}

.main--container {
  width: 851px;
  height: 294px;
  border-radius: 8px;
  box-shadow: 0px 0.7777777910232544px 2.9907407760620117px 0px
      rgba(0, 0, 0, 0.012),
    0px 3.422222137451172px 6.192592620849609px 0px rgba(0, 0, 0, 0.0196),
    0px 8.399999618530273px 12.350000381469727px 0px rgba(0, 0, 0, 0.025),
    0px 16.177778244018555px 24.207406997680664px 0px rgba(0, 0, 0, 0.0304),
    0px 27.22222137451172px 44.50925827026367px 0px rgba(0, 0, 0, 0.038),
    0px 42px 76px 0px rgba(0, 0, 0, 0.05);

  margin-right: auto;
  margin-left: auto;
  margin-top: 241px;
  padding: 36px;
}

.widgets--container {
  display: flex;
  justify-content: space-between;
}
