@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-primary: #2e3a8c;
  --color-success: #3b755f;
  --color-beige: #f2ebdb;
  --color-white: #ffffff;
  --color-dark: #212121;
}

body {
  font-family: "Cabin";
}

h3.widgets-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 2px solid #b0b0b0;
  color: var(--color-dark);
}


.main--container {
  width: 851px;
  box-sizing: border-box;
  height: 419px;
  border-radius: 8px;
  box-shadow: 0px 0.7777777910232544px 2.9907407760620117px 0px
      rgba(0, 0, 0, 0.012),
    0px 3.422222137451172px 6.192592620849609px 0px rgba(0, 0, 0, 0.0196),
    0px 8.399999618530273px 12.350000381469727px 0px rgba(0, 0, 0, 0.025),
    0px 16.177778244018555px 24.207406997680664px 0px rgba(0, 0, 0, 0.0304),
    0px 27.22222137451172px 44.50925827026367px 0px rgba(0, 0, 0, 0.038),
    0px 42px 76px 0px rgba(0, 0, 0, 0.05);

  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  padding: 36px;
  background-color: #f9f9f9;
}

.widgets--container {
  display: flex;
  justify-content: space-between;
}



.blue {
  background-color: var(--color-primary);
}
.green {
  background-color: var(--color-success);
}
.beige {
  background-color: var(--color-beige);
}
.white {
  background-color: var(--color-white);
}
.black {
  background-color: var(--color-dark);
}

/* Widget Component */
.widget-container {
  width: 221.32px;
  height: 167px;
}

.widget {
  display: flex;
  flex-direction: column;
}

.widget-header {
  display: flex;
  align-items: center;
  gap: 11.91px;
  margin-bottom: 13.5px;
  height: 66px;
  border-radius: 8px;
  color: var(--color-success);
  padding-left: 11.91px;
}

.widget-header.green,
.widget-header.blue,
.widget-header.black {
  color: var(--color-white);
}

.widget-icon {
  width: 39.7px;
  height: 45.41px;
  position: relative;
}
.greenspark-logo {
  display: block;
  width: 32.26px;
  height: 32.26px;
  margin-right: auto;
  margin-left: auto;
}
.greenspark-title {
  display: block;
  position: absolute;
  bottom: 0;
  width: 39.7px;
  height: 9.18px;
}

.widget-text p {
  margin: 0;
  font-size: 12.41px;
}
.widget-text span {
  font-size: 17.86px;
  line-height: 21.71px;
  font-weight: 700;
}

.widget--text-green {
  color: var(--color-success);
}
.widget--text-white {
  color: var(--color-white);
}

.widget-body .widget-toggle,
.widget-body .widget-colors,
.widget-body .widget-activate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  white-space: nowrap;
  color: var(--color-success);
}

.widget-body .widget-activate,
.widget-body .widget-toggle {
  justify-content: space-between;
}
.widget-body .widget__tooltip-text {
  display: block;
  position: relative;
}
.widget-body .widget__tooltip-text .profile-tooltip {
  position: absolute;
  bottom: 6px;
  right: -13px;
  cursor: pointer;
}

.colors {
  display: flex;
  box-sizing: border-box;
}
.colors .badge-active {
  outline: 3.19px solid #b0b0b0;
  outline-offset: -3.18px;
}

.color-box {
  width: 16px;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000003;
}
.color-box:hover {
  opacity: 0.8;
}
.color-box + .color-box {
  margin-left: 4px;
}

/* Switch button styling */
.switch {
  position: relative;
  display: inline-block;
  width: 40.11px;
  height: 20.05px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 29.49px;
  border: 0.59px solid #afc6bd;
  box-shadow: 0px 0.884669303894043px 5.897795677185059px 0px #00000026 inset;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20.05px;
  width: 20.05px;
  border-radius: 50%;
  border: 0.59px solid var(--color-beige);
  left: -0.59px;
  top: -1.2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--color-success);
}

.switch:hover .slider:before {
  outline: 7.18px solid rgba(175, 198, 189, 0.5);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(19.46px);
  -ms-transform: translateX(19.46px);
  transform: translateX(19.46px);
  border-color: var(--color-success);
}

/* Switch rounded slider */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

/* custom checkbox */
.custom-checkbox--container {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox {
  height: 18px;
  width: 18px;
  outline: 2.3px solid var(--color-dark);
  border-radius: 3px;
  outline-offset: -2.3px;
  cursor: pointer;
  position: relative;
}
.custom-checkbox.selected {
  outline: none;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.625 0.625H4.375C2.3125 0.625 0.625 2.3125 0.625 4.375V30.625C0.625 32.6875 2.3125 34.375 4.375 34.375H30.625C32.6875 34.375 34.375 32.6875 34.375 30.625V4.375C34.375 2.3125 32.6875 0.625 30.625 0.625ZM15.0813 25.5438C14.35 26.275 13.1688 26.275 12.4375 25.5438L5.70625 18.8125C4.975 18.0812 4.975 16.9 5.70625 16.1687C6.4375 15.4375 7.61875 15.4375 8.35 16.1687L13.75 21.5688L26.65 8.66875C27.3812 7.9375 28.5625 7.9375 29.2938 8.66875C30.025 9.4 30.025 10.5812 29.2938 11.3125L15.0813 25.5438V25.5438Z" fill="%233B755F"/></svg>');
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: 0.15s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-checkbox:hover::after {
  width: 187.5%;
  height: 187.5%;
  border-radius: 50%;
  background-color: #afc6bd;
  opacity: 0.5;
  transition: 0.2;
}

/* Tooltip */

.tooltip-container .tooltip {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  padding: 24px 16px;
  background-color: #ffffff;
  border-radius: 4px;
  white-space: pre-wrap;
  transition: 0.4s;
  z-index: 1000;
  width: 248px;
  opacity: 0;
  left: 8px;
  top: 14px;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 17.01px;
  font-weight: 400;
  text-align: center;
}
.tooltip-container .tooltip.show {
  visibility: visible;
  opacity: 1;
}
.tooltip__profile-link {
  color: var(--color-success);
  display: block;
  text-decoration: none;
  margin-top: 12px;
  font-weight: 700;
}
.tooltip__profile-link:hover {
  opacity: 0.8;
}

/* Smaller devices  */
@media only screen and (max-width: 851px) {
  .main--container {
    width: auto;
    height: auto;
    margin: 48px 22px 0px 22px;
  }
  .widgets--container {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }
}